*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  background-color:  #dfd8f3;
  border: 3px solid black;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  box-shadow: 0px 0px 20px #00000038;
}

.inputdiv{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  font-size: 1.5rem;
    border-radius: 10px;
    outline: none;
}

.info{
  height: 80%;
 
}

h1{
  text-align: center;
  margin-top: 51px;
}

p{
  text-align: center;
  margin-top: 20px;
}